@import "colors.rasi"

* {
    background-color:       @bg;
    text-color:             @fga;
	font:				 	"Iosevka Nerd Font 10";
}

window {
    width:      			370px;
    padding:    			25px;
    border:					2.5px;
    border-radius:          0px;
    border-color:           @ac;
    location:               center;
    y-offset:               -2em;
}

entry {
    background-color:			@bg;
    expand: 				true;
    text-color:				@fg;
}
